.jumbotron
<<<<<<< HEAD
  %h1 Welcome!
  - if @goals.nil?
   %h3 Have you set up your new goal? Do it #{link_to 'here', new_goal_path}
=======
 %h1 Welcome!
 %h3 Have you set up your new goal? Do it #{link_to 'here', new_goal_path}
>>>>>>> b5fd48f7cd6132efe782bf12663eb118c52def06
